@import "tailwindcss";
@plugin "daisyui" {
  themes: dark
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
textarea,
select {
  @apply bg-base-200 text-base-content border-2 border-base-300;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  @apply bg-base-200 border-2 border-primary outline-none ring-2 ring-primary ring-offset-2 ring-offset-base-100;
}

select option {
  @apply bg-slate-700 text-white;
}

select option:checked {
  @apply bg-blue-600 text-white;
}
